<!DOCTYPE html>
<html>
<head>
    <title>Ape Chat Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="./assets/css/style.css">


    <!--  Document: https://v2.vuejs.org/v2/guide/index.html  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <!--  Axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.1/dist/sweetalert2.all.min.js"></script>

    <!--  SocketIO  -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
            integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
            crossorigin="anonymous"></script>

</head>
<body>


<main id="app">
    <div class="container-fluid over-loading" v-bind:class="{ 'd-flex': loadingMode}">
        <div class="spinner-border text-dark f"></div>
    </div>


    <div class="container-fluid main-container">
        <div class="row">
            <!--      FIRST COLUMN      -->
            <div class="col-3 first-column">
                <div class="auth-info">
                    <h3 class="text-center">Member Info</h3>
                    <p>
                        <b>Member ID:</b> {{ authUser.id }}
                    </p>
                    <p>
                        <b>Member Email:</b> {{ authUser.email }}
                    </p>
                    <p>
                        <b>Member Phone:</b> {{ authUser.phone_number }}
                    </p>
                </div>
                <div class="connect-form">
                    <h3 class="text-center">Connect Form</h3>
                    <!--[       Connect Form         -->
                    <form id="connect-form" @submit.prevent="submitConnectForm">
                        <div class="form-group">
                            <label>Token:</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   v-model="token"
                                   :disabled="this.wasConnected"
                                   required>
                        </div>
                        <button
                                @click="submitConnectForm"
                                type="button"
                                :disabled="this.wasConnected"
                                class="btn btn-primary">
                            Connect
                        </button>
                    </form>
                    <!--       End Connect Form        ] -->
                </div>
                <div class="create-room-form">
                    <h3 class="text-center">Create Room Form</h3>
                    <!--[       Create Room Form         -->
                    <form id="create-room-form" @submit.prevent="submitCreateRoomForm">
                        <div class="form-group">
                            <label>Partner ID:</label>
                            <input type="number"
                                   class="form-control"
                                   placeholder=""
                                   v-model="createRoomForm.partner_id"
                                   :disabled="!this.wasConnected"
                                   required>
                        </div>

                        <button
                                @click="submitCreateRoomForm"
                                type="button"
                                :disabled="!this.wasConnected"
                                class="btn btn-primary">
                            Create
                        </button>
                    </form>
                    <!--       End Create Room Form      ] -->
                </div>
                <div class="logout-button">
                    <button
                            type="button"
                            @click="logout"
                            class="btn btn-success">Logout
                    </button>
                </div>
            </div>


            <!--      SECOND COLUMN      -->
            <div class="col-3 room-chat-column">
                <template v-for="roomChat in roomChats">
                    <div class="room-item" @click="chooseRoomChat(roomChat)">
                        <template v-if="roomChat.member_id === authUser.id">
                            <div class="room-item-image">
                                <img v-bind:src="roomChat.partner.avatar || './assets/images/placeholder-user.png'"
                                     alt="Partner avatar">
                            </div>
                            <div class="room-item-info">
                                <p>
                                    <b>Partner Phone: {{ roomChat.partner.phone_number }}</b>
                                </p>
                                <p>
                                    Partner ID: {{ roomChat.partner_id }}
                                </p>
                            </div>
                            <div class="room-item-seen-count" v-if="roomChat.not_seen_count">{{ roomChat.not_seen_count }}
                            </div>
                            <div class="room-item-state-icon" :class="{ online : roomChat.partner_state}"></div>
                        </template>

                        <template v-else>
                            <div class="room-item-image">
                                <img v-bind:src="roomChat.member.avatar || './assets/images/placeholder-user.png'"
                                     alt="Partner avatar">
                            </div>
                            <div class="room-item-info">
                                <p>
                                    <b>Partner Phone: {{ roomChat.member.phone_number }}</b>
                                </p>
                                <p>
                                    Partner ID: {{ roomChat.member_id }}
                                </p>
                            </div>
                            <div class="room-item-seen-count" v-if="roomChat.not_seen_count">{{ roomChat.not_seen_count }}
                            </div>
                            <div class="room-item-state-icon" :class="{ online : roomChat.partner_state}"></div>
                        </template>

                    </div>
                </template>
            </div>

            <!--      THIRD COLUMN      -->
            <div class="col-6 room-chat-detail-column">
                <template v-if="pickingRoomChat">
                    <div class="room-chat-detail-column-top">
                        <template v-for="roomChatDetail in roomChatDetails">
                            <template v-if="roomChatDetail.sender_id === authUser.id">
                                <div class="chat-item right">
                                    <div class="chat-item-box">
                                        <div class="chat-avatar">
                                            <img v-bind:src="(pickingRoomChat.member_id === authUser.id ? pickingRoomChat.member?.avatar : pickingRoomChat.partner?.avatar) || './assets/images/placeholder-user.png' "
                                                 alt="Owner avatar">
                                        </div>
                                        <div class="chat-content">
                                            {{roomChatDetail.content}}
                                            <div class="chat-at">
                                                {{ new Date(roomChatDetail.chat_time).toLocaleString()}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>

                            <template v-else>
                                <div class="chat-item left">
                                    <div class="chat-item-box">
                                        <div class="chat-avatar">
                                            <img v-bind:src="(pickingRoomChat.member_id === authUser.id ? pickingRoomChat.partner?.avatar : pickingRoomChat.member?.avatar) || './assets/images/placeholder-user.png' "
                                                 alt="Partner avatar">
                                        </div>
                                        <div class="chat-content">
                                            {{roomChatDetail.content}}
                                            <div class="chat-at">
                                                {{ new Date(roomChatDetail.chat_time).toLocaleString()}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </template>

                        <div class="chat-item typing-box" :style="{ display: !isTyping ? 'none' :'flex' } ">
                            <div class="chat-item-box">
                                <div class="chat-avatar">
                                    <img v-bind:src="(pickingRoomChat.member_id === authUser.id ? pickingRoomChat.partner?.avatar : pickingRoomChat.member?.avatar) || './assets/images/placeholder-user.png' "
                                         alt="Partner avatar">
                                </div>
                                <div class="chat-content">
                                    <div class="typing-container">
                                        <div class="typing"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room-chat-detail-column-bottom">
                        <form id="create-message" @submit.prevent="sendChatMessage">
                            <div class="form-input">
                                <div class="form-group">
                                    <input type="text" v-model="chatMessage.content" class="form-control"
                                           placeholder="Message" maxlength="200" required/>
                                </div>
                                <div class="form-group">
                                    <input type="file" onchange="upload(this.files)"  class="form-control-file border">
                                </div>
                            </div>

                            <button
                                    @click="sendChatMessage"
                                    type="button"
                                    class="btn btn-primary">
                                Send
                            </button>
                        </form>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <div>
    </div>
</main>
<script type="module">
    import {v4 as uuidv4} from 'https://jspm.dev/uuid';

    // [--------------------------  ENV VARIABLES --------------------------------
    const server_url = window.location.origin.includes('backend-dev.one') ? 'https://nest-chat.backend-dev.one' : 'http://localhost:3000';
    const locale = 'zho';
    // --------------------------  ENV VARIABLES --------------------------------]


    // [--------------------------  LOCAL STORAGE INIT --------------------------------
    // --------------------------  LOCAL STORAGE INIT --------------------------------]


    // [--------------------------  SETUP ALERT --------------------------------
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        showCloseButton: true,
    })

    const showSuccessAlert = (message) => {
        Toast.fire({
            icon: 'success',
            title: message || 'Successfully'
        })
    }

    const showErrorAlert = (error) => {
        Toast.fire({
            icon: 'error',
            title: error || 'Something went wrong !'
        })
    }

    // --------------------------  SETUP ALERT --------------------------------]


    // [--------------------------  SETUP AXIOS INSTANCE --------------------------------
    const axiosService = axios.create();

    axiosService.defaults.baseURL = server_url
    axiosService.defaults.timeout = 5000;
    axiosService.defaults.headers.common['Accept'] = 'application/json'
    axiosService.defaults.headers.common['Content-Type'] = 'application/json'
    axiosService.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    axiosService.defaults.headers.common['Access-Control-Allow-Origin'] = '*'

    // Add a request interceptor
    axiosService.interceptors.request.use(function (config) {

        // Config language
        config.headers['Accept-Language'] = locale

        if (localStorage.getItem('ape-chat-token')) {
            config.headers['Authorization'] = localStorage.getItem('ape-chat-token')
        }


        return config;
    });

    // Add a request interceptor
    // Add a response interceptor
    axiosService.interceptors.response.use(
        (response) => {
            const statusCode = response.data.code

            if (statusCode === 401) {
                showErrorAlert(response.data.message || 'Authentication Error')
                return Promise.reject(response)
            }

            if (statusCode === 400) {
                showErrorAlert(response.data.message || 'Bad Request')
                return Promise.reject(response)
            }

            if (statusCode === 422) {
                showErrorAlert(response.data.error || 'Bad Request')
                return Promise.reject(response)
            }

            if ([403, 404, 429].includes(statusCode)) {
                showErrorAlert(response.data.message || 'Something Went Wrong')
                return Promise.reject(response)
            }

            return response
        },

        (error) => {
            showErrorAlert(error || 'Server Error')
            return Promise.reject(error)
        });
    // --------------------------  SETUP AXIOS INSTANCE --------------------------------]


    // [-------------------------- MAIN CHAT FUNCTION --------------------------------
    document.addEventListener("DOMContentLoaded", () => {
        const app = new Vue({
            el: '#app',
            data: {
                loadingMode: false,

                // APIS
                endpoints: {
                    profile: {url: '/api/members/profile', method: 'get'},
                    create_room_chat: {url: '/api/room-chats', method: 'post'},
                    get_chat_detail_list: {url: '/api/room-chat-details', method: 'get'}
                },

                // Auth variables
                sessionId: '',
                token: '',

                wasConnected: false,
                authUser: {},

                // Socket variables
                socket: {},

                // Chat variable
                createRoomForm: {
                    partner_id: null
                },
                roomChats: [],
                pickingRoomChat: null,
                roomChatDetails: [],
                chatMessage: {
                    content: ''
                },
                isTyping: false,
                typingTimeout: null
            },

            watch: {
                // whenever question changes, this function will run
                chatMessage: {
                    handler(newChatMessage, oldChatMessage) {
                        if (newChatMessage.content) {
                            this.socket.emit('typing-chat-message', {
                                room_chat_id: this.pickingRoomChat.id
                            });
                        }
                    },
                    deep: true
                }
            },

            created: async function () {
                this.sessionId = localStorage.getItem('ape-chat-session-id')
                this.token = localStorage.getItem('ape-chat-token')

                if (this.token &&
                    this.sessionId
                ) {
                    this.loadingMode = true
                    try {
                        let connectEndPoint = this.endpoints['profile']['url']

                        let response = await axiosService.get(connectEndPoint, {headers: {'Authorization': this.token}})
                        this.authUser = response.data.data
                        showSuccessAlert('Connect successfully')

                        // Init Socket
                        this.initSocket()

                        this.wasConnected = true;
                    } catch (e) {
                        localStorage.removeItem('ape-chat-token');
                    }

                    this.loadingMode = false

                } else {
                    this.sessionId = uuidv4();
                    localStorage.setItem('ape-chat-session-id', this.sessionId)
                }
            },


            methods: {
                // upload(files) {
                //     console.log(files)
                //     socket.emit("upload", files[0], (status) => {
                //         console.log(status);
                //     });
                // },

                scrollChatMessageBox() {
                    setTimeout(async () => {
                        let ref = await document.querySelector('.room-chat-detail-column-top')
                        if (ref) {
                            ref.scrollTop = ref.scrollHeight;
                        }
                    })
                },

                logout() {
                    // Emit logout to other client in session
                    this.socket.emit('logout')

                    localStorage.removeItem('ape-chat-token');

                    // Auth variables
                    this.token = ''
                    this.wasConnected = false
                    this.authUser = {}

                    // Socket variables
                    this.socket = {};

                    // Chat variable
                    this.createRoomForm = {
                        partner_id: null
                    }
                    this.roomChats = []
                    this.pickingRoomChat = null
                    this.roomChatDetails = []
                    this.chatMessage = {
                        content: ''
                    }
                    this.isTyping = false
                    this.typingTimeout = null
                },

                async submitConnectForm(e) {
                    e.preventDefault()

                    if (!this.token) {
                        return showErrorAlert('Please Fill Full Fields')
                    }

                    this.loadingMode = true
                    try {
                        let connectEndPoint = this.endpoints['profile']['url']

                        let response = await axiosService.get(connectEndPoint, {headers: {'Authorization': this.token}})
                        this.authUser = response.data.data
                        showSuccessAlert('Connect successfully')

                        // Init Socket
                        this.initSocket()

                        // Set local storage
                        localStorage.setItem('ape-chat-token', this.token)

                        this.wasConnected = true;
                    } catch (e) {
                        console.log(e)
                    }

                    this.loadingMode = false
                },

                async submitCreateRoomForm(e) {
                    e.preventDefault()

                    if (!this.createRoomForm.partner_id) {
                        return showErrorAlert('Please Fill Full Fields')
                    }

                    this.loadingMode = true

                    try {
                        let createRoomEndPoint = this.endpoints['create_room_chat']['url']
                        let submitData = {
                            partner_id: parseInt(this.createRoomForm.partner_id)
                        }

                        let response = await axiosService.post(
                            createRoomEndPoint,
                            submitData)

                        showSuccessAlert('Create successfully')

                        // Emit created room
                        this.socket.emit('created-room', { room_chat_id: response.data.data.id })

                    } catch (e) {
                        console.log(e)
                    }

                    this.loadingMode = false
                },

                sendChatMessage(e) {
                    e.preventDefault();

                    if (!this.chatMessage.content) {
                        return showErrorAlert('Please Fill Message')
                    }

                    try {
                        // Emit send chat message room
                        this.socket.emit('send-chat-message', {
                            room_chat_id: this.pickingRoomChat.id,
                            content: this.chatMessage.content,
                        })

                        this.chatMessage.content = ''

                    } catch (e) {
                        console.log(e)
                    }
                },

                async chooseRoomChat(roomChat) {
                    this.loadingMode = true

                    // Clear old data
                    this.pickingRoomChat = null
                    this.roomChatDetails = []
                    this.chatMessage = {
                        content: ''
                    }
                    this.isTyping = false
                    this.typingTimeout = null


                    try {
                        let getChatDetailsEndPoint = this.endpoints['get_chat_detail_list']['url']

                        let response = await axiosService.get(
                            getChatDetailsEndPoint,
                            {
                                params: {
                                    room_chat_id: roomChat.id
                                }
                            }
                        )

                        if (response.data.data?.length) {
                            this.roomChatDetails = [...response.data.data]
                            this.scrollChatMessageBox()
                            // Seen message event
                            this.socket.emit('seen-room', { room_chat_id: roomChat.id })

                        } else {
                            this.roomChatDetails = []
                        }

                        this.pickingRoomChat = roomChat
                    } catch (e) {
                        console.log(e)
                    }

                    this.loadingMode = false
                },

                initSocket() {
                    this.socket = io(server_url + '/chat', {
                        extraHeaders: {
                            Authorization: this.token
                        },
                        query: {
                            'session_id': this.sessionId
                        }
                    });

                    this.socket.on("success-notice", ({nameOfEvent, code, message}) => {
                        showSuccessAlert(message)
                    });


                    this.socket.on("error-notice", ({nameOfEvent, code, message}) => {
                        showErrorAlert(message)

                        // Reset auth variables if unauthenticated
                        if (code === 401) {
                            this.logout()
                        }
                    });

                    this.socket.on("load-rooms", (response) => {
                        this.roomChats = response.data
                    });

                    this.socket.on("new-chat-message", (response) => {
                        if (this.pickingRoomChat && this.pickingRoomChat.id === response.data.room_chat_id) {
                            this.roomChatDetails.push(response.data)
                            this.scrollChatMessageBox()

                            // Seen message event
                            this.socket.emit('seen-room', { room_chat_id: response.data.room_chat_id })

                        } else {
                            this.roomChats.forEach((roomChat) => {
                                if (roomChat.id === response.data.room_chat_id) {
                                    roomChat.not_seen_count+=1
                                }
                            })
                        }
                    });

                    this.socket.on("typing-chat-message", (response) => {
                        if (this.pickingRoomChat && this.pickingRoomChat.id === response.data.room_chat_id) {
                            this.scrollChatMessageBox()
                            this.isTyping = true
                            if (this.typingTimeout) {
                                clearTimeout(this.typingTimeout)
                            }
                            this.typingTimeout = setTimeout(() => this.isTyping = false, 1000)
                        }
                    });

                    this.socket.on("seen-room", (response) => {
                        if (this.roomChats?.length) {
                            this.roomChats.forEach((roomChat) => {
                                if (response.data.room_chat_id === roomChat.id) {
                                    roomChat.not_seen_count = 0
                                }
                            })
                        }
                    });

                    this.socket.on("online", (response) => {
                        if (this.roomChats?.length) {
                            this.roomChats.forEach((roomChat) => {
                                if (response.data.room_chat_id === roomChat.id) {
                                    roomChat.partner_state = 1
                                }
                            })
                        }
                    });

                    this.socket.on("offline", (response) => {
                        if (this.roomChats?.length) {
                            this.roomChats.forEach((roomChat) => {
                                if (response.data.room_chat_id === roomChat.id) {
                                    roomChat.partner_state = 0
                                }
                            })
                        }
                    });

                    this.socket.on("logout", () => {
                        this.socket.disconnect();

                        localStorage.removeItem('ape-chat-token');

                        // Auth variables
                        this.token = ''
                        this.wasConnected = false
                        this.authUser = {}

                        // Socket variables
                        this.socket = {};

                        // Chat variable
                        this.createRoomForm = {
                            partner_id: null
                        }
                        this.roomChats = []
                        this.pickingRoomChat = null
                        this.roomChatDetails = []
                        this.chatMessage = {
                            content: ''
                        }
                        this.isTyping = false
                        this.typingTimeout = null
                    })

                }
            }
        })
    });
    // [-------------------------- MAIN CHAT FUNCTION --------------------------------]
</script>
</body>
</html>
