<!DOCTYPE html>
<html>
<head>
    <title>Ape Chat Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="./style.css">


    <!--  Document: https://v2.vuejs.org/v2/guide/index.html  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <!--  Axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.1/dist/sweetalert2.all.min.js"></script>

    <!--  SocketIO  -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
            integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
            crossorigin="anonymous"></script>
</head>
<body>


<main id="app">
    <div class="container-fluid over-loading" v-bind:class="{ 'd-flex': loadingMode}">
        <div class="spinner-border text-dark f"></div>
    </div>


    <div class="container-fluid main-container">
        <div class="row">

            <!--      FIRST COLUMN      -->
            <div class="col-2 first-column">
                <div class="auth-info">
                    <h3 class="text-center">User Info</h3>
                    <p>ID: {{ authUser.id}}</p>
                    <p>Email: {{ authUser.email}}</p>
                    <p>Phone: {{ authUser.phone_number}}</p>
                    <p>
                        Page: {{ routePrefix === 'api' ? 'Member Page' : 'Supplier Dashboard'}}
                    </p>
                </div>
                <div class="connect-form">
                    <h3 class="text-center">Connect Form</h3>
                    <!--[       Connect Form         -->
                    <form id="connect-form">
                        <div class="form-group">
                            <label>Token:</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   v-model="token"
                                   :disabled="this.wasConnected"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Connect Page:</label>
                            <select class="form-control"
                                    v-model="routePrefix"
                                    :disabled="this.wasConnected"
                                    required>
                                <option value="api">Member Pages</option>
                                <option value="supplier-api">Supplier Dashboard</option>
                            </select>
                        </div>

                        <button
                                @click="submitConnectForm"
                                type="button"
                                :disabled="this.wasConnected"
                                class="btn btn-primary">
                            Connect
                        </button>
                    </form>
                    <!--       End Connect Form        ] -->
                </div>
                <div class="create-room-form">
                    <h3 class="text-center">Create Room Form</h3>
                    <!--[       Create Room Form         -->
                    <form id="create-room-form">
                        <div class="form-group">
                            <label>Partner ID:</label>
                            <input type="number"
                                   class="form-control"
                                   placeholder=""
                                   v-model="createRoomForm.partner_id"
                                   :disabled="!this.wasConnected"
                                   required>
                        </div>

                        <button
                                @click="submitCreateRoomForm"
                                type="button"
                                :disabled="!this.wasConnected"
                                class="btn btn-primary">
                            Create
                        </button>
                    </form>
                    <!--       End Create Room Form      ] -->
                </div>
            </div>


            <!--      SECOND COLUMN      -->
            <div class="col-4 room-chat-column">
                <template  v-if=" routePrefix === 'supplier-api' ">
                    <template v-for="room in rooms">
                        <div class="room-item">
                            <div class="room-item-image">
                                <img v-bind:src="room.member.member_avatar" alt="Roommate avtar">
                            </div>
                            <div class="room-item-info">
                                <p>
                                    <b>Member Phone: {{ room.member.phone_number }}</b>
                                </p>
                                <p>
                                    Member ID: {{ room.member.id }}
                                </p>
                            </div>
                        </div>
                    </template>
                </template>

                <template  v-else >
                    <template v-for="room in rooms">
                        <div class="room-item">
                            <div class="room-item-image">
                                <img v-bind:src="room.expert.expert_avatar" alt="Roommate avtar">
                            </div>
                            <div class="room-item-info">
                                <p>
                                    <b>Expert Name: {{ room.expert.name }}</b>
                                </p>
                                <p>
                                    Expert ID: {{ room.expert.id }}
                                </p>
                            </div>
                        </div>
                    </template>
                </template>

            </div>
        </div>
    </div>
    <div>
    </div>
</main>
<script type="module">
    // [--------------------------  ENV VARIABLES --------------------------------
    const server_url = 'http://localhost:3000';
    const locale = 'zho';
    // --------------------------  ENV VARIABLES --------------------------------]


    // [--------------------------  SOCKET INIT --------------------------------

    // --------------------------  SOCKET INIT --------------------------------]


    // [--------------------------  SETUP ALERT --------------------------------
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 8000,
        timerProgressBar: true
    })

    const showSuccessAlert = (message) => {
        Toast.fire({
            icon: 'success',
            title: message || 'Successfully'
        })
    }

    const showErrorAlert = (error) => {
        Toast.fire({
            icon: 'error',
            title: error || 'Something went wrong !'
        })
    }

    // --------------------------  SETUP ALERT --------------------------------]


    // [--------------------------  SETUP AXIOS INSTANCE --------------------------------
    const axiosService = axios.create();

    axiosService.defaults.baseURL = server_url
    axiosService.defaults.timeout = 5000;
    axiosService.defaults.headers.common['Accept'] = 'application/json'
    axiosService.defaults.headers.common['Content-Type'] = 'application/json'
    axiosService.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    axiosService.defaults.headers.common['Access-Control-Allow-Origin'] = '*'

    // Add a request interceptor
    axiosService.interceptors.request.use(function (config) {

        // Config language
        config.headers['Accept-Language'] = locale
        return config;
    });

    // Add a request interceptor
    // Add a response interceptor
    axiosService.interceptors.response.use(
        (response) => {
            const statusCode = response.data.code

            if (statusCode === 401) {
                showErrorAlert(response.data.message || 'Authentication Error')
                return Promise.reject(response)
            }

            if (statusCode === 400) {
                showErrorAlert(response.data.message || 'Bad Request')
                return Promise.reject(response)
            }

            if (statusCode === 422) {
                showErrorAlert(response.data.error || 'Bad Request')
                return Promise.reject(response)
            }

            if ([403, 404, 429].includes(statusCode)) {
                showErrorAlert(response.data.message || 'Something Went Wrong')
                return Promise.reject(response)
            }

            return response
        },

        (error) => {
            showErrorAlert(error || 'Server Error')
            return Promise.reject(error)
        });
    // --------------------------  SETUP AXIOS INSTANCE --------------------------------]


    // [-------------------------- MAIN CHAT FUNCTION --------------------------------
    document.addEventListener("DOMContentLoaded", () => {
        new Vue({
            el: '#app',
            data: {
                loadingMode: false,

                // APIS
                endpoints: {
                    'api': {
                        profile: {url: '/api/members/profile', method: 'get'},
                        create_room_chat: {url: '/api/room-chats', method: 'post'}
                    },

                    'supplier-api': {
                        profile: {url: '/supplier-api/suppliers/profile', method: 'get'},
                        create_room_chat: {url: '/supplier-api/room-chats', method: 'post'}
                    }
                },

                // Auth variables
                token: '',
                routePrefix: 'api',
                wasConnected: false,
                authUser: {},

                // Socket variables
                socket: {},

                // Chat variable
                rooms: [],
                createRoomForm: {
                    partner_id: null
                }
            },

            created: function () {
                const  token = localStorage.getItem('ape-chat-token')
                if (token) {
                    console.log(token)
                    this.token  = token
                    this.wasConnected = true;
                    this.initSocket()
                }
            },


            methods: {
                async submitConnectForm() {
                    if (!this.token) {
                        return showErrorAlert('Please Fill Full Fields')
                    }

                    this.loadingMode = true
                    try {
                        let connectEndPoint = this.endpoints[this.routePrefix]['profile']['url']

                        let response = await axiosService.get(connectEndPoint, {headers: {'Authorization': this.token}})
                        this.authUser = response.data.data
                        showSuccessAlert('Connect successfully')

                        // Init Socket
                        this.initSocket()

                        this.wasConnected = true;
                        localStorage.setItem('ape-chat-token', this.token)
                    } catch (e) {
                        console.log(e)
                    }

                    this.loadingMode = false
                },

                async submitCreateRoomForm() {

                    if (!this.createRoomForm.partner_id) {
                        return showErrorAlert('Please Fill Full Fields')
                    }

                    this.loadingMode = true

                    try {
                        let createRoomEndPoint = this.endpoints[this.routePrefix]['create_room_chat']['url']
                        let submitData = {}
                        if (this.routePrefix === 'api') {
                            submitData.expert_id = parseInt(this.createRoomForm.partner_id)
                        }else  {
                            submitData.member_id = parseInt(this.createRoomForm.partner_id)
                        }

                        let response = await axiosService.post(
                            createRoomEndPoint,
                            submitData,
                            {headers: {'Authorization': this.token}})

                        showSuccessAlert('Create successfully')

                            // Emit created room
                         this.socket.emit('created-room', response.data.data)

                    }catch (e) {
                        console.log(e)
                    }

                    this.loadingMode = false
                },


                initSocket() {
                    this.socket = io(server_url + '/chat', {
                        auth: {...this.authUser},
                        extraHeaders: {
                            Authorization: this.token
                        },
                        query: {
                            'route_prefix': this.routePrefix
                        }
                    });


                    this.socket.on("success-notice", ({nameOfEvent, code, message}) => {
                        showSuccessAlert(message)
                    });


                    this.socket.on("error-notice", ({nameOfEvent, code, message}) => {
                        showErrorAlert(message)

                        // Reset auth variables if unauthenticated
                        if (code === 401) {
                            this.wasConnected = false
                            this.authUser = {}
                        }
                    });

                    this.socket.on("load-rooms", (rooms) => {
                        this.rooms = rooms
                    });

                }
            }
        })
    });
    // [-------------------------- MAIN CHAT FUNCTION --------------------------------]
</script>
</body>
</html>
