/*Over Loading*/
.container-fluid.over-loading {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #80808057;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;

}

.container-fluid.over-loading .spinner-border {
    height: 50px;
    width: 50px;
}


/*Main Form*/
.main-container .row {
    min-height: 100vh;
}
/*Auth Column*/
.main-container  .auth-column {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(135, 135, 135, 0.35);
    flex-direction: column;
    padding: 0;
}

.main-container  .auth-column .connect-form,
.main-container  .auth-column .auth-info{
    width: 100%;
    background: beige;
    padding: 10px;
}

.main-container .auth-column .auth-info {
    border-bottom: 1px solid black;
}
/*Chat Room Column*/
.main-container .room-chat-column {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    border-right: 1px solid rgba(135, 135, 135, 0.35);
    flex-direction: column;
    padding: 0;
    overflow: scroll;
    max-height: 100vh;
}

.main-container .room-chat-column .room-item  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: rgba(112, 128, 144, 0.24);
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.35);
}

.main-container .room-chat-column .room-item .room-item-image img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
}

.main-container .room-chat-column .room-item .room-item-info {
    padding: 10px;
    flex: 1;
    margin-left: 10px;
}
