/*Over Loading*/
.container-fluid.over-loading {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #80808057;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;

}

.container-fluid.over-loading .spinner-border {
    height: 50px;
    width: 50px;
}


/*Main Form*/
.main-container .row {
    min-height: 100vh;
}
/*Auth Column*/
.main-container  .first-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid rgba(135, 135, 135, 0.35);
    flex-direction: column;
    padding: 0;
    overflow: scroll;
    max-height: 100vh;
}

.main-container  .first-column .connect-form,
.main-container  .first-column .auth-info,
.main-container  .first-column .create-room-form{
    width: 100%;
    background: beige;
    padding: 20px;
    border-bottom: 3px solid rgba(135, 135, 135, 0.35);
}

.main-container  .first-column .logout-button{
    width: 100%;
    background: #2c2c1542;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid rgba(135, 135, 135, 0.35);
}



/*Chat Room Column*/
.main-container .room-chat-column {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    border-right: 1px solid rgba(135, 135, 135, 0.35);
    flex-direction: column;
    padding: 0;
    overflow: scroll;
    max-height: 100vh;
}

.main-container .room-chat-column .room-item  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: rgba(112, 128, 144, 0.24);
    cursor: pointer;
    padding: 10px;
    border-bottom: 3px solid rgba(135, 135, 135, 0.35);
    transition: 0.3s;
}

.main-container .room-chat-column .room-item:hover  {
    background: rgba(191, 210, 230, 0.5);
}

.main-container .room-chat-column .room-item .room-item-image img {
    height: 60px;
    max-width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.main-container .room-chat-column .room-item .room-item-info {
    padding: 10px;
    flex: 1;
    margin-left: 10px;
}


/*Chat Room Detail Column*/
.main-container .room-chat-detail-column{
    display: flex;
    flex-direction: column;
    padding: 0;
    max-height: 100vh;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top{
    flex: 1;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    gap: 15px;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item {
    max-width: 70%;
    padding: 8px 3px;
    border-bottom: 3px solid rgba(135, 135, 135, 0.35);
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.left {
    align-self: start;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.right {
    align-self: end;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item .chat-item-box {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.right .chat-item-box {
    justify-content: end;
    flex-direction: row-reverse;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item .chat-item-box .chat-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item  .chat-item-box .chat-avatar img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item .chat-item-box .chat-content {
    font-size: 13px;
    background: rgba(112, 128, 144, 0.24);
    padding: 8px 6px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.typing-box .chat-item-box .chat-content {
    width: 100%;
    text-align: center;
    border-bottom-right-radius: 10px;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.left .chat-item-box .chat-content {
    border-bottom-right-radius: 10px;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item.right .chat-item-box .chat-content {
    text-align: end;
    border-bottom-left-radius: 10px;
}

.main-container .room-chat-detail-column .room-chat-detail-column-top .chat-item .chat-item-box .chat-content .chat-at {
    font-size: 10px;
    color: grey;
    font-weight: 550;
}


.main-container .room-chat-detail-column .room-chat-detail-column-bottom{
    background: beige;
    min-height: 25vh;
    display: flex;
    align-items: center;
}

.main-container .room-chat-detail-column .room-chat-detail-column-bottom form{
    margin: 10px 15px;
    width: 100%;
}

.main-container .room-chat-detail-column .room-chat-detail-column-bottom form input{
    height: 60px;
}



/*TYPING*/
.typing-box {
    display: none;
}
.typing-box .typing-container {
    display: inline-block;
}
.typing,
.typing:before,
.typing:after {
    width: 14px;
    aspect-ratio: .5;
    display: grid;
    background: radial-gradient(rgba(0, 0, 0, 0.37) 68%,#0000 72%) center/100% 50% no-repeat;
    animation: typing 1.2s infinite linear calc(var(--_s,0)*.4s);
    transform: translate(calc(var(--_s,0)*150%));
}
.typing:before,
.typing:after {
    content: "";
    grid-area: 1/1;
}
.typing:before {--_s: -1}
.typing:after  {--_s:  1}

@keyframes typing {
    20% {background-position: top   }
    40% {background-position: bottom}
    60% {background-position: center}
}



